html(lang='en')
    head
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Online ordering for Szechuan Express in Pittsburgh.')
        link(rel='canonical', href='https://szechuanexpresspgh.com/')
        link(rel='stylesheet', type='text/css', href='/css/admin.min.css')
        link(href='https://fonts.googleapis.com/css2?family=Gotu&display=swap', rel='stylesheet')
        link(rel='icon', type='image/png', href='/img/logo.png')
        title Szechuan Express | Admin Overview
    body
        .main
            .dashboard
                nav.admin-nav
                    .admin-nav-container
                        a.admin-nav-link(href="/admin") Overview
                        a.admin-nav-link(href="/admin/products") Products
                        a.admin-nav-link.admin-nav-link-active(href="/admin/orders") Orders