*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Gotu", sans-serif;
}

.underline:after {
  transition: width 0.4s ease, background-color 0.4s ease, left 0.4s ease;
}

.underline:hover:after {
  width: 100%;
  left: 0;
  background: gold;
}

.underline-red:after {
  transition: width 0.4s ease, background-color 0.4s ease, left 0.4s ease;
}

.underline-red:hover:after {
  width: 100%;
  left: 0;
  background: rgb(236, 0, 0);
}

.underline-white:after {
  transition: width 0.4s ease, background-color 0.4s ease, left 0.4s ease;
}

.underline-white:hover:after {
  width: 100%;
  left: 0;
  background: white;
}

.shoppingCart {
  fill: (white);

  transition: all 0.2s ease;

  &:hover {
    fill: rgb(236, 0, 0);
  }
}

.navOrder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 6vh;
  background-color: rgb(27, 27, 27);
  z-index: 10;

  &-link {
    color: rgb(250, 250, 250);
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.2s ease;

    @media only screen and (max-width: 750px) {
      font-size: 1rem;
    }

    &:hover {
      color: rgb(236, 0, 0);
    }
  }

  &-cart {
    border: none;
    margin: 0 1rem 0 0;
    background-color: transparent;
    cursor: pointer;
    padding: 3px;
  }

  &-checkout {
    font-size: 1.2rem;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;

    @media only screen and (max-width: 750px) {
      font-size: 1rem;
    }

    &:hover {
      color: rgb(236, 0, 0);
    }
  }
}

.menus-tabs {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 6vh;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  z-index: 10;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.menu-tab {
  border: none;
  margin: 3px 1rem;
  background-color: transparent;
  color: rgb(27, 27, 27);
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Gotu", sans-serif;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;

  @media only screen and (max-width: 750px) {
    font-size: 1rem;
  }

  &:hover {
    color: rgb(236, 0, 0);
    border-bottom: 1px solid rgb(236, 0, 0);
  }

  &-active {
    color: rgb(236, 0, 0);
    border-bottom: 1px solid rgb(236, 0, 0);
  }
}

.checkOut {
  display: flex;
}

.regularContainer {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  background-color: rgb(250, 250, 250);
}

.specialContainer {
  padding-top: 12vh;
  width: 100vw;
  background-color: rgb(250, 250, 250);
}

.mainContainer {
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  width: calc(100% - 15rem);

  @media only screen and (max-width: 900px) {
    width: 100%;
  }

  &-special {
    width: 90%;
    margin: 0 auto;
  }
}

.itemsContainer {
  padding: 1rem 0;
  width: 100%;
  height: 100%;
  display: grid;
  column-gap: 0.5rem;
  row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
}

.categoryLinks {
  position: fixed;
  top: 10vh;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 94vh;
  flex-wrap: wrap;
  width: 13rem;
  background-color: rgb(201, 0, 0);
  justify-content: flex-start;

  @media only screen and (max-width: 900px) {
    display: none;
  }

  &-link {
    padding: 7px 5px;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgb(148, 1, 1);
    }
  }
}

.categories {
  padding: 5px;
  margin: 1rem auto;
  width: 100%;
  max-width: 100rem;
  padding-top: 12vh;
  margin-top: calc(-12vh + 1rem);
}

.item {
  &Header {
    text-align: center;
  }

  &Info {
    text-align: center;

    &-spicy {
      color: rgb(236, 0, 0);
      font-size: 1.1rem;
      margin-top: 5px;
    }

    &-boxed {
      border: 1px solid rgb(197, 197, 197);
      width: 90%;
      margin: 1rem auto;
    }
  }

  &Box {
    padding: 5px;
    border: 1px solid rgb(197, 197, 197);
    background-color: white;
    width: 20rem;
    height: 6rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    z-index: 2;

    &:hover {
      background-color: rgb(245, 245, 245);
    }
  }

  &Price {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 3px;
  }

  &Spicy {
    color: rgb(236, 0, 0);
  }
}

.close {
  cursor: pointer;
  float: right;
  font-size: 2rem;
  margin-right: 5px;
  line-height: 2rem;

  &:hover {
    color: rgb(201, 0, 0);
  }
}

.itemModal {
  z-index: 20;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  text-align: center;
  overflow: auto;

  &-header {
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
    text-align: center;
  }

  &-price {
    font-size: 1.5rem;
    text-align: center;
  }

  &-box {
    margin: 0 auto;
    width: 95%;
    padding-bottom: 2rem;
    max-width: 50rem;
    background-color: white;
  }
}

.modalBtn {
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 5px 1rem;
  border-radius: 3px;
  background-color: rgb(201, 0, 0);
  color: rgb(250, 250, 250);
  transition: all 0.2s ease;

  &:hover {
    background-color: rgb(148, 1, 1);
  }
}

.spaced {
  margin-bottom: 1rem;
}

.topped {
  margin-top: 1rem;
}

.footer {
  text-align: center;
  padding: 2rem 0;
}

.radio-box {
  margin: 1rem auto;
  width: 45%;
  text-align: center;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-right: 1rem;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  & input:checked ~ .checkmark {
    background-color: rgb(201, 0, 0);
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }

  & .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;

  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

.shopping-cart-modal {
  z-index: 20;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  text-align: center;
  overflow: auto;

  &-header {
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
    text-align: center;
  }

  &-box {
    margin: 1rem auto;
    width: 95%;
    padding-bottom: 2rem;
    max-width: 40rem;
    background-color: white;
  }

  &-list {
    list-style: none;
  }

  &-item {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    align-items: center;

    transition: all 0.2s ease;

    &:hover {
      background-color: rgb(250, 250, 250);
    }
  }
}

.deleteBtn {
  border: none;
  background-color: rgb(236, 0, 0);
  color: white;
  cursor: pointer;
  padding: 3px 5px;
  border-radius: 3px;
  transition: all 0.2s ease;
  height: 2rem;

  &:hover {
    background-color: rgb(148, 1, 1);
  }
}

.sc-item {
  &-name,
  &-price {
    width: 40%;
    text-align: left;
  }
}

#sc-total {
  font-size: 1.5rem;
}

.payment-modal {
  z-index: 20;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

#stripe-form {
  background-color: rgb(250, 250, 250);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 35rem;
  transform: translate(-50%, -50%);
}

#payment-form {
  padding: 3rem;
  font-size: 1.1rem;
}

.submit-button {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: rgb(201, 0, 0);
  color: rgb(250, 250, 250);
  display: block;
  margin: 1rem auto 0 auto;
  transition: all 0.2s ease;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;

  &:hover {
    background-color: rgb(148, 1, 1);
  }
}

.form-row input {
  border-radius: 3px;
  border: 1px solid rgb(27, 27, 27);
  padding: 5px;
  transition: all 0.2s ease;
  margin-bottom: 1rem;

  &:focus {
    border: 1px solid gold;
  }
}

.hidden {
  display: none;
}

.ham {
  &__checkbox {
    display: none;
  }

  &__button {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    display: none;

    @media only screen and (max-width: 900px) {
      display: inline;
    }
  }

  &__background {
    height: 2.8rem;
    width: 2.8rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    justify-content: space-evenly;
    opacity: 0;
    width: 0;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &__link {
      text-decoration: none;
      color: rgb(250, 250, 250);
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    background-color: rgb(201, 0, 0);
    opacity: 0.9;
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 12px;

    &,
    &::before,
    &::after {
      width: 1.5rem;
      height: 1px;
      background-color: rgb(201, 0, 0);
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: 6px;
    }
    &::after {
      top: 12px;
    }
  }

  &__checkbox:checked + &__button &__icon {
    background-color: rgb(236, 0, 0);
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 6px;
    transform: rotate(135deg);
    background-color: white;
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 6px;
    transform: rotate(-135deg);
    background-color: white;
  }
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-row {
  margin-bottom: 1rem;
}
