*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Gotu", sans-serif;
}

.warning {
  text-align: left;
  font-size: 1rem;
  width: 90%;
  max-width: 45rem;
  margin: 0 auto;

  &-title {
    font-size: 2rem;
    color: rgb(236, 0, 0);
  }

  &-underline {
    text-decoration: underline;
  }
}

.pages {
  max-width: 50rem;
  width: 95%;
  margin: 0 auto;
  &-container {
    display: flex;
    flex-direction: column;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, rgba(black, 0.7), rgba(black, 0.8)),
    url("../img/hero2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  text-align: center;

  &-cta {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 1rem;
    font-size: 1.2rem;
    margin-top: 10vh;
    transition: all 0.2s ease;

    &:hover {
      color: gold;
      border: 1px solid gold;
    }
  }

  &-header {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: rgb(236, 0, 0);

    @media only screen and (max-width: 900px) {
      font-size: 2.5rem;
    }

    &-cn {
      padding-left: 30px;
      font-family: "Ma Shan Zheng", cursive;
      letter-spacing: 2rem;
      font-size: 3.5rem;

      @media only screen and (max-width: 900px) {
        letter-spacing: 1rem;
        font-size: 3rem;
      }

      @media only screen and (max-width: 600px) {
        letter-spacing: 2rem;
      }

      &-container {
        max-width: 50rem;
        width: 95%;
        margin: 0 auto;
        display: inline-flex;
        justify-content: center;
        @media only screen and (max-width: 600px) {
          flex-direction: column;
        }
      }
    }

    &-container {
      padding-top: 15vh;
      display: flex;
      flex-direction: column;
    }
  }
}

.payment-options {
  width: 90%;
  display: flex;
  margin: 2rem auto 0 auto;
  justify-content: space-evenly;
}

.pay-img {
  max-width: 6rem;
  max-height: 6rem;
  min-height: 0;
  height: auto;
  width: 20%;
}

.phone {
  color: rgb(236, 0, 0);
}

.nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem;

  @media only screen and (max-width: 600px) {
    padding: 1rem;
  }

  &-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &-link {
    color: white;
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0 5px;
    transition: all 0.3s ease;

    &-order {
      color: rgb(236, 0, 0);
    }

    @media only screen and (max-width: 600px) {
      font-size: 1rem;
    }

    &:hover {
      color: gold;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 3px;
      width: 0;
      background: transparent;
    }
  }
}

.underline:after {
  transition: width 0.4s ease, background-color 0.4s ease, left 0.4s ease;
}

.underline:hover:after {
  width: 100%;
  left: 0;
  background: gold;
}

.underline-red:after {
  transition: width 0.4s ease, background-color 0.4s ease, left 0.4s ease;
}

.underline-red:hover:after {
  width: 100%;
  left: 0;
  background: rgb(236, 0, 0);
}

.underline-white:after {
  transition: width 0.4s ease, background-color 0.4s ease, left 0.4s ease;
}

.underline-white:hover:after {
  width: 100%;
  left: 0;
  background: white;
}

.about {
  border-left: 1rem solid rgb(236, 0, 0);
  border-right: 1rem solid rgb(236, 0, 0);
  padding: 2rem 0;

  &-header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &-text {
    width: 95%;
    max-width: 40rem;
    margin: 0 auto;
    font-size: 1.2rem;
    text-indent: 50px;
    line-height: 3rem;
  }
}

.menu {
  text-align: center;
  padding: 2rem 0;
  background-color: rgb(27, 27, 27);
  color: rgb(250, 250, 250);

  @media only screen and (max-width: 600px) {
    padding-bottom: 1rem;
  }

  &-disclaimer {
    display: block;
    margin-bottom: 2rem;
    color: rgb(236, 0, 0);
  }

  &-gallery {
    padding-top: 2rem;
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-items: center;
    align-items: center;

    @media only screen and (max-width: 600px) {
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      column-gap: 1rem;
      row-gap: 1rem;
    }

    &-text {
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(rgba(black, 0.7), rgba(black, 0.7));
      max-width: 30rem;
      max-height: 30rem;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 10;
      transition: all 0.2s ease;

      & p {
        margin-top: 25%;
        font-size: 1.25rem;
        padding: 0 1rem;

        @media only screen and (max-width: 900px) {
          font-size: 1rem;
        }
      }

      &:hover {
        opacity: 1;
      }
    }

    &-picture {
      max-width: 30rem;
      max-height: 30rem;
      width: 100%;
      height: auto;

      &-container {
        position: relative;
        max-width: 30rem;
        max-height: 30rem;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-header {
    font-size: 2rem;
  }

  &-btn {
    color: rgb(250, 250, 250);
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;

    &:hover {
      color: rgb(236, 0, 0);
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 3px;
      width: 0;
      background: transparent;
    }
  }

  &-modal {
    padding: 1rem 0;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 100;
    background-image: linear-gradient(rgba(black, 0.8), rgba(black, 0.8));
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &-info-container {
      width: 80%;
      margin: 0 auto;
      border: 1px solid rgb(236, 0, 0);
      margin-top: 1rem;
    }

    &:target {
      opacity: 1;
      visibility: visible;
    }

    &:target &-menu {
      opacity: 1;
      transform: scale(1);
    }

    &-close {
      &:link,
      &:visited {
        color: rgb(236, 0, 0);
        font-size: 2rem;
        text-decoration: none;
        z-index: 200;
        position: fixed;
        top: 1rem;
        right: 7%;
      }

      &:hover {
        color: gold;
      }
    }

    &-info {
      display: block;
      color: rgb(236, 0, 0);
      text-align: center;
    }

    &-menu {
      background-color: rgb(250, 250, 250);
      width: 95%;
      max-width: 50rem;
      margin: 0 auto;
      padding: 1rem 0;
      opacity: 0;
      transform: scale(0.25);
      transition: all 0.3s ease;
    }

    &-header,
    &-subheader {
      color: rgb(236, 0, 0);
      text-align: center;
    }

    &-header {
      font-size: 1.8rem;
      text-decoration: underline;
    }

    &-items {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media only screen and (max-width: 600px) {
        font-size: 0.9rem;
      }

      @media only screen and (max-width: 500px) {
        font-size: 0.8rem;
      }
    }

    &-category {
      max-width: 40rem;
      width: 100%;
      padding: 1rem 1rem;
      margin-top: 1rem;

      @media only screen and (max-width: 600px) {
        padding: 0.5rem 1rem;
      }
    }

    &-item {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

      &-info {
        font-size: 0.9rem;
        margin-bottom: 1rem;

        @media only screen and (max-width: 600px) {
          font-size: 0.85rem;
        }

        @media only screen and (max-width: 500px) {
          font-size: 0.75rem;
        }
      }
    }

    &-name {
      &-spicy {
        color: rgb(236, 0, 0);
      }
    }

    &-price {
      text-align: right;
    }
  }
}

.order {
  padding-top: 4rem;
  padding-bottom: 2rem;
  border-left: 1rem solid rgb(236, 0, 0);
  border-right: 1rem solid rgb(236, 0, 0);
  text-align: center;
  background-color: rgb(250, 250, 250);

  &-phone,
  &-grubhub,
  &-postmate {
    width: 20rem;
    margin-bottom: 2rem;
  }

  &-header {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: rgb(27, 27, 27);
  }

  &-methods {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
  }

  &-icon {
    width: 6rem;
    border-radius: 10rem;
    margin-bottom: 1rem;
  }

  &-link {
    text-decoration: none;
    color: rgb(236, 0, 0);
    transition: all 0.3 ease;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 2px;
      width: 0;
      background: transparent;
    }
  }
}

.contact {
  display: flex;

  @media only screen and (max-width: 750px) {
    flex-direction: column;
  }

  &-map {
    width: 33.3vw;
    height: 500px;
    vertical-align: bottom;

    @media only screen and (max-width: 750px) {
      width: 100vw;
    }
  }

  &-picture {
    width: 33.3vw;
    height: 500px;

    @media only screen and (max-width: 750px) {
      width: 100vw;
      height: 100%;
    }
  }

  &-info {
    text-align: center;
    width: 33.3vw;
    padding-bottom: 2rem;
    background-color: rgb(27, 27, 27);
    color: rgb(250, 250, 250);

    @media only screen and (max-width: 750px) {
      width: 100vw;
    }
  }

  &-header {
    width: 100%;
    padding-top: 2rem;
    color: rgb(250, 250, 250);
  }
}

.shoppingCart {
  fill: (white);

  transition: all 0.2s ease;

  &:hover {
    fill: rgb(236, 0, 0);
  }
}

.navOrder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 6vh;
  background-color: rgb(27, 27, 27);
  z-index: 10;

  &-link {
    color: rgb(250, 250, 250);
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.2s ease;

    @media only screen and (max-width: 750px) {
      font-size: 1rem;
    }

    &:hover {
      color: rgb(236, 0, 0);
    }
  }

  &-cart {
    border: none;
    margin: 0 1rem 0 0;
    background-color: transparent;
    cursor: pointer;
    padding: 3px;
  }

  &-checkout {
    font-size: 1.2rem;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;

    @media only screen and (max-width: 750px) {
      font-size: 1rem;
    }

    &:hover {
      color: rgb(236, 0, 0);
    }
  }
}

.menus-tabs {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 6vh;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  z-index: 10;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.menu-tab {
  border: none;
  margin: 3px 1rem;
  background-color: transparent;
  color: rgb(27, 27, 27);
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Gotu", sans-serif;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;

  @media only screen and (max-width: 750px) {
    font-size: 1rem;
  }

  &:hover {
    color: rgb(236, 0, 0);
    border-bottom: 1px solid rgb(236, 0, 0);
  }

  &-active {
    color: rgb(236, 0, 0);
    border-bottom: 1px solid rgb(236, 0, 0);
  }
}

.checkOut {
  display: flex;
}

.regularContainer {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  background-color: rgb(250, 250, 250);
}

.specialContainer {
  padding-top: 12vh;
  width: 100vw;
  background-color: rgb(250, 250, 250);
}

.mainContainer {
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  width: calc(100% - 15rem);

  @media only screen and (max-width: 900px) {
    width: 100%;
  }

  &-special {
    width: 90%;
    margin: 0 auto;
  }
}

.itemsContainer {
  padding: 1rem 0;
  width: 100%;
  height: 100%;
  display: grid;
  column-gap: 0.5rem;
  row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
}

.categoryLinks {
  position: fixed;
  top: 10vh;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 94vh;
  flex-wrap: wrap;
  width: 13rem;
  background-color: rgb(201, 0, 0);
  justify-content: flex-start;

  @media only screen and (max-width: 900px) {
    display: none;
  }

  &-link {
    padding: 7px 5px;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgb(148, 1, 1);
    }
  }
}

.categories {
  padding: 5px;
  margin: 1rem auto;
  width: 100%;
  max-width: 100rem;
  padding-top: 12vh;
  margin-top: calc(-12vh + 1rem);
}

.item {
  &Header {
    text-align: center;
  }

  &Info {
    text-align: center;

    &-spicy {
      color: rgb(236, 0, 0);
      font-size: 1.1rem;
      margin-top: 5px;
    }

    &-boxed {
      border: 1px solid rgb(197, 197, 197);
      width: 90%;
      margin: 1rem auto;
    }
  }

  &Box {
    padding: 5px;
    border: 1px solid rgb(197, 197, 197);
    background-color: white;
    width: 20rem;
    height: 6rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    z-index: 2;

    &:hover {
      background-color: rgb(245, 245, 245);
    }
  }

  &Price {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 3px;
  }

  &Spicy {
    color: rgb(236, 0, 0);
  }
}

.close {
  cursor: pointer;
  float: right;
  font-size: 2rem;
  margin-right: 5px;
  line-height: 2rem;

  &:hover {
    color: rgb(201, 0, 0);
  }
}

.itemModal {
  z-index: 20;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  text-align: center;
  overflow: auto;

  &-header {
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
    text-align: center;
  }

  &-price {
    font-size: 1.5rem;
    text-align: center;
  }

  &-box {
    margin: 0 auto;
    width: 95%;
    padding-bottom: 2rem;
    max-width: 50rem;
    background-color: white;
  }
}

.modalBtn {
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 5px 1rem;
  border-radius: 3px;
  background-color: rgb(201, 0, 0);
  color: rgb(250, 250, 250);
  transition: all 0.2s ease;

  &:hover {
    background-color: rgb(148, 1, 1);
  }
}

.spaced {
  margin-bottom: 1rem;
}

.topped {
  margin-top: 1rem;
}

.footer {
  text-align: center;
  padding: 2rem 0;
}

.radio-box {
  margin: 1rem auto;
  width: 45%;
  text-align: center;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-right: 1rem;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  & input:checked ~ .checkmark {
    background-color: rgb(201, 0, 0);
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }

  & .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;

  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

.shopping-cart-modal {
  z-index: 20;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  text-align: center;
  overflow: auto;

  &-header {
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
    text-align: center;
  }

  &-box {
    margin: 1rem auto;
    width: 95%;
    padding-bottom: 2rem;
    max-width: 40rem;
    background-color: white;
  }

  &-list {
    list-style: none;
  }

  &-item {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    align-items: center;

    transition: all 0.2s ease;

    &:hover {
      background-color: rgb(250, 250, 250);
    }
  }
}

.deleteBtn {
  border: none;
  background-color: rgb(236, 0, 0);
  color: white;
  cursor: pointer;
  padding: 3px 5px;
  border-radius: 3px;
  transition: all 0.2s ease;
  height: 2rem;

  &:hover {
    background-color: rgb(148, 1, 1);
  }
}

.sc-item {
  &-name,
  &-price {
    width: 40%;
    text-align: left;
  }
}

#sc-total {
  font-size: 1.5rem;
}

.payment-modal {
  z-index: 20;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

#stripe-form {
  background-color: rgb(250, 250, 250);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 35rem;
  transform: translate(-50%, -50%);
}

#payment-form {
  padding: 3rem;
  font-size: 1.1rem;
}

.submit-button {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: rgb(201, 0, 0);
  color: rgb(250, 250, 250);
  display: block;
  margin: 1rem auto 0 auto;
  transition: all 0.2s ease;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;

  &:hover {
    background-color: rgb(148, 1, 1);
  }
}

.form-row input {
  border-radius: 3px;
  border: 1px solid rgb(27, 27, 27);
  padding: 5px;
  transition: all 0.2s ease;
  margin-bottom: 1rem;

  &:focus {
    border: 1px solid gold;
  }
}

.hidden {
  display: none;
}

.ham {
  &__checkbox {
    display: none;
  }

  &__button {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    display: none;

    @media only screen and (max-width: 900px) {
      display: inline;
    }
  }

  &__background {
    height: 2.8rem;
    width: 2.8rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    justify-content: space-evenly;
    opacity: 0;
    width: 0;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &__link {
      text-decoration: none;
      color: rgb(250, 250, 250);
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    background-color: rgb(201, 0, 0);
    opacity: 0.9;
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 12px;

    &,
    &::before,
    &::after {
      width: 1.5rem;
      height: 1px;
      background-color: rgb(201, 0, 0);
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: 6px;
    }
    &::after {
      top: 12px;
    }
  }

  &__checkbox:checked + &__button &__icon {
    background-color: rgb(236, 0, 0);
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 6px;
    transform: rotate(135deg);
    background-color: white;
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 6px;
    transform: rotate(-135deg);
    background-color: white;
  }
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
